.photo-container {
  width: 130px;
  height: 130px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 30px; 

  
  span {
    font-size: 24px;
  }
}
