// index.scss or your global stylesheet

// Default styles that don't change with theme
body {
  transition: background-color 0.3s, color 0.3s;
}

// Day theme styles
body.day {
  background-color: #FFFFFF; // Light background for day theme
  color: #000000e5; // Dark text for day theme
}

// Night theme styles
body.night {
  background-color: #000000e5; // Dark background for night theme
  color: #FFFFFF; // Light text for night theme
}